html {
    font-family: "Lucida Console", "Courier New", monospace;
}

#ui {
    margin-bottom: 80px;
}

,
td {
    border: 1px solid #333;
}


body {
    background-color: #333;
    color: #fff;
}

